[%
  page.title = 'Network Weathermap';
  page.nav_active_link = 'network';
  page.nosidebar = 1
%]
[% WRAPPER htmlpage %]
<iframe src="https://manager.minap.it/weathermap/weathermap.html"
  width="1010"
  height="680"
  style="margin: 0; padding: 0; margin-left: auto; margin-right: auto;"
></iframe>
[% END %]
