body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#yui-main {
  text-align: justify;
  font-size: 110%;
}

#yui-main p { margin: 1em 0; }
#yui-main ul.bulleted, #yui-main ol.bulleted { padding-left: 1em; }
#yui-main ul.bulleted li { list-style: disc inside; }

#yui-main h1 {
  font-weight: bold;
  font-size: 2em;
  color: #7DA5E0;
  text-align: center;
  margin-bottom: 1em;
}

#yui-main h2 {
  font-weight: bold;
  font-size: 1.5em;
  color: #7DA5E0;
}


#hd {
  width: 800px;
  height: 162px;
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  margin-bottom: 2em;
}

#menubar {
  text-align: right;
  margin-right: 30px;
}

#menubar a {
  color: black;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
}
#menubar a:hover {
  text-decoration: underline;
}



#ft {
  background-color: #7DA5E0;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  margin-top: 1em;
  padding: 0.5em;
}
#ft p {
  color: white;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}
#ft a { color: white; text-decoration: none; }
#ft a:hover { text-decoration: underline; }



/* DA RIVEDERE */
.table_top {
        width: 204px; height: 27px;
        background-image: url(table_top.jpg);
        background-repeat: no-repeat;
}
div.table_top > div {
        text-align: center;
}
.table_content {
        width: 204px;
        background-image: url(table_content.jpg);
        background-repeat: repeat-y;
}
.table_text {
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
}
.table_bottom {
  width: 204px; height: 23px;
  background-image: url(table_bottom.jpg);
  background-repeat: no-repeat;
  margin-bottom: 2em;
}



/* DA RIVEDERE */
TABLE.members { padding: 0px; }
TD.members {
  border-bottom: 1px solid black;
  padding: 2px;
  vertical-align: top;
  font-size: 11px;
}
TH.members {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 11px;
}

A.row0 { color: #1D2F64; }
A.row1 { color: #0D0F44; }

TR.row0 { background-color: #6b9eea; }
TR.row1 { background-color: #3774ce; }


