[%
  page.title = 'Contacts';
  page.description = 'Contacts for MINAP.';
  page.nav_active_link = 'contacts';
%]
[% WRAPPER htmlpage %]
<p>MINAP is not a legal entity: all the parts that together make the
MINAP infrastructure are operated by the MINAP NOC.</p>

<ul style="margin-top: 2em">
<li><strong>Technical support:</strong> <a href="mailto:noc@minap.it">noc@minap.it</a></li>
<li><strong>General information:</strong> <a href="mailto:info@minap.it">info@minap.it</a></li>
</ul>
[% END %]
