[Unit]
Description=Prometheus sflow exporter
Documentation=https://github.com/dd-ix/sflow_exporter
ConditionPathExists=/etc/prometheus/sflow_exporter.yaml
After=network.target

[Service]
EnvironmentFile=-/etc/default/prometheus-sflow-exporter
Type=exec
ExecStartPre=/usr/local/sbin/prometheus-sflow-exporter --meta /etc/prometheus/sflow_exporter.yaml check
ExecStart=/usr/local/sbin/prometheus-sflow-exporter --meta /etc/prometheus/sflow_exporter.yaml listen $ARGS
Restart=on-failure
DynamicUser=yes
User=sflow_exporter
ConfigurationDirectory=prometheus
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
CapabilityBoundingSet=
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
